In [13]:
import requests

url = "https://m.land.naver.com/cluster/ajax/complexList"

querystring = {"itemId":"2122111331","mapKey":"","lgeo":"2122111331","rletTpCd":"APT","tradTpCd":"A1%3AB1","z":"9","lat":"37.5486782","lon":"127.1507812","btm":"37.5289563","lft":"127.0639526","top":"37.5683364","rgt":"127.2376561","cortarNo":"1174010100","isOnlyIsale":"false"}

headers = {
    'User-Agent': "PostmanRuntime/7.19.0",
    'Accept': "*/*",
    'Cache-Control': "no-cache",
    'Postman-Token': "79328ce1-52ea-4b4e-9ee8-8267e991b0b2,211f57bc-47ff-4e38-a1a7-d37ed2fd2a2a",
    'Host': "m.land.naver.com",
    'Accept-Encoding': "gzip, deflate",
    'Connection': "keep-alive",
    'cache-control': "no-cache"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

# print(response.text)

In [14]:
import json
data = json.loads(response.text)

In [16]:
itmes = data["result"]

In [17]:
items[0]

{'cmctYm': '1983.12.',
 'dealCnt': 42,
 'dealPrcMax': "16<em class='txt_unit'>억</em> 5,000",
 'dealPrcMin': "6<em class='txt_unit'>억</em> 8,000",
 'genHsehCnt': 0,
 'hscpNm': '삼익그린맨션2차',
 'hscpNo': '1308',
 'hscpTypeCd': 'A01',
 'hscpTypeNm': '아파트',
 'isaleNotifSeq': '0',
 'isalePrcMax': '0',
 'isalePrcMin': '0',
 'isaleScheLabel': '',
 'isaleScheLabelPre': '',
 'leaseCnt': 96,
 'leasePrcMax': "4<em class='txt_unit'>억</em> 5,000",
 'leasePrcMin': "1<em class='txt_unit'>억</em> 9,500",
 'maxSpc': '148.19',
 'minSpc': '59.93',
 'rentCnt': 16,
 'repImgUrl': '/20170103_25/apt_realimage_1483412102125VbABD_JPEG/1a9b85080b264a9301e5d64b7bd22393.jpg',
 'strmRentCnt': 0,
 'totDongCnt': 18,
 'totHsehCnt': 2400,
 'totalAtclCnt': 154}

In [18]:
import pandas as pd

df = pd.DataFrame.from_dict(items)

In [19]:
df.head(10)

,cmctYm,dealCnt,dealPrcMax,dealPrcMin,genHsehCnt,hscpNm,hscpNo,hscpTypeCd,hscpTypeNm,isaleNotifSeq,...,leasePrcMax,leasePrcMin,maxSpc,minSpc,rentCnt,repImgUrl,strmRentCnt,totDongCnt,totHsehCnt,totalAtclCnt
0,1983.12.,42,"16<em class='txt_unit'>억</em> 5,000","6<em class='txt_unit'>억</em> 8,000",0,삼익그린맨션2차,1308,A01,아파트,0,...,"4<em class='txt_unit'>억</em> 5,000","1<em class='txt_unit'>억</em> 9,500",148.19,59.93,16,/20170103_25/apt_realimage_1483412102125VbABD_...,0,18,2400,154
1,1985.11.,32,"9<em class='txt_unit'>억</em> 7,000","9<em class='txt_unit'>억</em> 2,000",0,고덕주공9단지,1314,A01,아파트,0,...,"3<em class='txt_unit'>억</em> 5,000",3<em class='txt_unit'>억</em>,109.06,103.56,10,/20170104_6/apt_realimage_1483511137457jghMG_J...,0,14,1320,84
2,1986.02.,12,"13<em class='txt_unit'>억</em> 5,000",13<em class='txt_unit'>억</em>,0,신동아,1312,A01,아파트,0,...,"5<em class='txt_unit'>억</em> 5,000","3<em class='txt_unit'>억</em> 3,000",146.39,97.69,7,/20170508_197/apt_realimage_1494213719274FciFN...,0,7,570,56
3,1984.11.,4,12<em class='txt_unit'>억</em>,"7<em class='txt_unit'>억</em> 9,000",0,삼익맨션(삼익가든),1304,A01,아파트,0,...,"4<em class='txt_unit'>억</em> 8,000","2<em class='txt_unit'>억</em> 5,000",176.38,80.27,0,/20170207_237/apt_realimage_1486431371615tUNXF...,0,10,768,28
4,1986.05.,18,14<em class='txt_unit'>억</em>,"10<em class='txt_unit'>억</em> 6,000",0,한양,1315,A01,아파트,0,...,"5<em class='txt_unit'>억</em> 3,000",4<em class='txt_unit'>억</em>,138.25,102.13,5,/20170605_223/apt_realimage_1496648103229y34DC...,0,6,540,44
5,1986.02.,29,14<em class='txt_unit'>억</em>,"10<em class='txt_unit'>억</em> 5,000",0,고덕현대,1316,A01,아파트,0,...,"5<em class='txt_unit'>억</em> 1,000",4<em class='txt_unit'>억</em>,154.52,105.26,7,/20170605_103/apt_realimage_1496647866520iXXDj...,0,7,524,57
6,1986.05.,17,14<em class='txt_unit'>억</em>,"9<em class='txt_unit'>억</em> 9,000",0,우성(42),1313,A01,아파트,0,...,"5<em class='txt_unit'>억</em> 3,000",4<em class='txt_unit'>억</em>,153.78,103.8,5,/20170110_13/apt_realimage_1484011828593dxCaU_...,0,8,572,48
7,1992.06.,5,"9<em class='txt_unit'>억</em> 5,000","8<em class='txt_unit'>억</em> 9,000",0,명일삼환,1311,A01,아파트,0,...,"4<em class='txt_unit'>억</em> 5,000","3<em class='txt_unit'>억</em> 7,000",106.32,106.28,5,/20170120_99/apt_realimage_14848848454978CPQD_...,0,2,306,40
8,1988.10.,13,"7<em class='txt_unit'>억</em> 1,000","4<em class='txt_unit'>억</em> 7,000",0,명일현대,987,A01,아파트,0,...,"4<em class='txt_unit'>억</em> 8,000","2<em class='txt_unit'>억</em> 6,000",101.47,80.13,0,/20170331_126/apt_realimage_1490948441266TmDFt...,0,2,226,28
9,1986.06.,7,"9<em class='txt_unit'>억</em> 5,000","7<em class='txt_unit'>억</em> 8,000",0,삼익그린11차,8853,A01,아파트,0,...,"3<em class='txt_unit'>억</em> 6,000","3<em class='txt_unit'>억</em> 4,000",149.3,94.49,0,/20170320_4/apt_realimage_1489974067068P722m_J...,0,1,152,11

In [20]:
len(df)

13