# 1.시군구별 평당 가격의 변화를 살펴보자(서울)

In [1]:
f = open('../road_codes.csv', 'r')
lines = [x[:-1].split(",") for x in f.readlines()]
f.close()

from collections import defaultdict
road_code_dict = defaultdict()
for line in lines:
    road_code_dict[line[0]] = [line[4], line[5], line[2]]
    
import pandas as pd
r_df = pd.DataFrame.from_dict(road_code_dict)
r_df = r_df.transpose()
r_df.head(10)

           0     1         2
11110  서울특별시   종로구      덕수궁길
11140  서울특별시    중구       환일길
11170  서울특별시   용산구    이촌로51길
11200  서울특별시   성동구    마장로40길
11215  서울특별시   광진구  천호대로145길
11230  서울특별시  동대문구   답십리로58길
11260  서울특별시   중랑구    신내역로3길
11290  서울특별시   성북구    고려대로8길
11305  서울특별시   강북구  4.19로29길
11320  서울특별시   도봉구    우이천로2길

## 서울특별시의 road_code들을 모두 보려면?

In [2]:
road_codes = r_df[r_df[0] == "서울특별시"].index
print(road_codes)

Index(['11110', '11140', '11170', '11200', '11215', '11230', '11260', '11290',
       '11305', '11320', '11350', '11380', '11410', '11440', '11470', '11500',
       '11530', '11545', '11560', '11590', '11620', '11650', '11680', '11710',
       '11740'],
      dtype='object')

In [4]:
road_codes = ["11110", "11200", "11305"]

In [10]:
def load_data(road_code):
    import glob
    file_list = glob.glob("../data/apt-trade/{}/*.csv".format(road_code))
    list_ = []
    for file in file_list:
        df = pd.read_csv(file, index_col=None, header=0)
        list_.append(df)
    item_df = pd.concat(list_, sort=False)
    return item_df

In [11]:
df = load_data(road_codes[0])

In [12]:
df.head(10)

,거래금액,건축년도,년,법정동,아파트,월,일,전용면적,지번,지역코드,층,date
0,"112,200",2008.0,2016.0,사직동,광화문풍림스페이스본(101동~105동),4.0,1.0,146.92,9,11110.0,11.0,201604
1,"112,200",2008.0,2016.0,사직동,광화문풍림스페이스본(101동~105동),4.0,6.0,146.92,9,11110.0,11.0,201604
2,"86,500",2008.0,2016.0,사직동,광화문풍림스페이스본(101동~105동),4.0,19.0,108.07,9,11110.0,8.0,201604
3,"85,000",2008.0,2016.0,사직동,광화문풍림스페이스본(101동~105동),4.0,22.0,121.37,9,11110.0,3.0,201604
4,"80,000",2008.0,2016.0,사직동,광화문풍림스페이스본(101동~105동),4.0,30.0,95.88,9,11110.0,5.0,201604
5,"110,000",2004.0,2016.0,내수동,경희궁의아침4단지,4.0,16.0,124.17,73,11110.0,10.0,201604
6,"101,000",2003.0,2016.0,내수동,경희궁 파크팰리스,4.0,21.0,148.09,95,11110.0,12.0,201604
7,"147,000",2004.0,2016.0,내수동,경희궁의아침3단지,4.0,27.0,174.55,72,11110.0,15.0,201604
8,"22,500",2003.0,2016.0,익선동,현대뜨레비앙,4.0,14.0,48.54,55,11110.0,7.0,201604
9,"17,800",2014.0,2016.0,연건동,이화에수풀,4.0,29.0,19.86,195-10,11110.0,7.0,201604